<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Form 102</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a679c">  <td>18/02/13 15:55:46</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingPolicyNo@cd2dae5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="deb56e">  <td>18/02/13 15:58:10</td>   <td>143974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102CarrierAccountMappedUsingEmployer.doc102CarrierAccountMappedUsingEmployer(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingEmployer@6321e813]">doc102CarrierAccountMappedUsingEmployer</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/02/13 15:56:03</td>   <td>16672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102CarrierAccountMappedUsingPolicyNo.doc102CarrierAccountMappedUsingPolicyNo(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingPolicyNo@cd2dae5]">doc102CarrierAccountMappedUsingPolicyNo</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>18/02/13 16:02:44</td>   <td>417403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102CarrierAccountNotMappedUsingEmployer.doc102CarrierAccountNotMappedUsingEmployer(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingEmployer@22a67b4]">doc102CarrierAccountNotMappedUsingEmployer</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>18/02/13 16:00:23</td>   <td>276925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102CarrierAccountNotMappedUsingPolicyNo.doc102CarrierAccountNotMappedUsingPolicyNo(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingPolicyNo@79be0360]">doc102CarrierAccountNotMappedUsingPolicyNo</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 15:55:47</td>   <td>769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingPolicyNo@cd2dae5]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 15:57:52</td>   <td>126170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingEmployer@6321e813]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:00:07</td>   <td>260604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingPolicyNo@79be0360]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:02:30</td>   <td>403275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingEmployer@22a67b4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:07:05</td>   <td>679131</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingPolicyNo@cd2dae5]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 15:57:51</td>   <td>124604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingPolicyNo@cd2dae5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:00:06</td>   <td>259344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountMappedUsingEmployer@6321e813]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:02:28</td>   <td>402020</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingPolicyNo@79be0360]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>18/02/13 16:07:04</td>   <td>677763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102CarrierAccountNotMappedUsingEmployer@22a67b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
</table>
