<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Regression Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efa5e3">  <td>18/01/12 09:55:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFormValidationMessage.applicationFormValidationMessage(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">applicationFormValidationMessage</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>18/01/12 09:56:58</td>   <td>71018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFormValidationMessage.applicationFormValidationMessage(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">applicationFormValidationMessage</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:55:33</td>   <td>-13237</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:55:35</td>   <td>-11720</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:56:49</td>   <td>62013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:57:55</td>   <td>128102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:59:28</td>   <td>221487</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 10:01:04</td>   <td>317356</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:56:46</td>   <td>59536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:57:52</td>   <td>125874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3d99d22e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 09:59:26</td>   <td>219054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 10:01:02</td>   <td>314988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>18/01/12 09:58:04</td>   <td>137631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormRejectedStatus.verifyApplicationFormRejectedStatus(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">verifyApplicationFormRejectedStatus</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>18/01/12 09:59:37</td>   <td>230780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormRejectedStatus.verifyApplicationFormRejectedStatus(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3a883ce7]">verifyApplicationFormRejectedStatus</td> 
  <td>main@394714818</td>   <td></td> </tr>
</table>
