<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60df86">  <td>18/01/03 13:16:18</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.apollo.demotestcases.LeadConversionValidation@35d176f7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>18/01/03 13:16:22</td>   <td>3934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.apollo.demotestcases.LeadConversionValidation@35d176f7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@745678098</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>18/01/03 13:16:36</td>   <td>18704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeadConversionValidation.userLeadConversionValidation(java.lang.String)[pri:0, instance:com.mst.automation.apollo.demotestcases.LeadConversionValidation@35d176f7]">userLeadConversionValidation</td> 
  <td>TestNG-tests-1@745678098</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>18/01/03 13:17:40</td>   <td>82557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.apollo.demotestcases.LeadConversionValidation@35d176f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@745678098</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>18/01/03 13:17:44</td>   <td>86537</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.apollo.demotestcases.LeadConversionValidation@35d176f7]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
</table>
