<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>17/12/12 11:46:24</td>   <td>0</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>17/12/12 11:46:11</td>   <td>-12536</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="d86b78">  <td>17/12/12 11:46:21</td>   <td>-2834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Form446filling.formfilling446()[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">formfilling446</td> 
  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>17/12/12 11:46:12</td>   <td>-11612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>17/12/12 11:46:24</td>   <td>408</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>17/12/12 11:46:22</td>   <td>-1403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.imartapollo.demotestcases.Form446filling@7b49cea0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@473581465</td>   <td></td> </tr>
</table>
