<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Form Regression Suite</td><td>Form102Filling_PublicUrl.formfilling102()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form102Filling_PublicUrl@51cdd8a]<br/>Form407Filling_PublicUrl.formfilling407()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form407Filling_PublicUrl@6895a785]<br/>Form446Filling_PublicUrl.formfilling446()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form446Filling_PublicUrl@1d29cf23]<br/>Form101Filling_PublicUrl.formfilling101()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_PublicUrl@6321e813]<br/></td></tr>
<tr><td>Form Smoke Suite</td><td>Form528Filling_PublicUrl.formfilling528()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form528Filling_PublicUrl@305fd85d]<br/>Form529Filling_PublicUrl.formfilling529()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form529Filling_PublicUrl@1563da5]<br/></td></tr>
<tr><td>Smoke Suite</td><td>Form122Filling_PublicUrl.formfilling122()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form122Filling_PublicUrl@1f57539]<br/>Form120Filling_PublicUrl.formfilling120()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form120Filling_PublicUrl@74650e52]<br/>Form121Filling_PublicUrl.formfilling121()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form121Filling_PublicUrl@33f88ab]<br/></td></tr>
</table>
