<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression Suite</td><td>VerifyApplicationFormRejectedStatus.verifyApplicationFormRejectedStatus(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]<br/>ApplicationFormValidationMessage.applicationFormValidationMessage(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]<br/></td></tr>
</table>
