<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Failed suite [Regression Suite]]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:43:11</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:43:12</td>   <td>1533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>18/01/12 11:43:22</td>   <td>11199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormRejectedStatus.verifyApplicationFormRejectedStatus(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">verifyApplicationFormRejectedStatus</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:44:28</td>   <td>77672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:44:31</td>   <td>80315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="efa5e3">  <td>18/01/12 11:44:40</td>   <td>89282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyApplicationFormRejectedStatus.verifyApplicationFormRejectedStatus(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">verifyApplicationFormRejectedStatus</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:45:44</td>   <td>153348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:45:47</td>   <td>155907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>18/01/12 11:45:55</td>   <td>164568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFormValidationMessage.applicationFormValidationMessage(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">applicationFormValidationMessage</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:46:40</td>   <td>209434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:46:43</td>   <td>211972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>18/01/12 11:46:52</td>   <td>220945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ApplicationFormValidationMessage.applicationFormValidationMessage(java.lang.String)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">applicationFormValidationMessage</td> 
  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:47:37</td>   <td>266058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.demo.regressiontestcases.ApplicationFormValidationMessage@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/01/12 11:47:39</td>   <td>268698</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.demo.regressiontestcases.VerifyApplicationFormRejectedStatus@3d99d22e]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
</table>
