<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>102 Flow</td><td>Document102NewClaimFieldMapping.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]<br/></td></tr>
<tr><td>Form Regression Suite</td><td>Document102NewClaimFieldMapping.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]<br/>Form101Filling_PublicUrl.formfilling101()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_PublicUrl@6321e813]<br/></td></tr>
<tr><td>Smoke Suite</td><td>Form101Filling_CommunityUser.formfilling101(java.lang.String)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_CommunityUser@51cdd8a]<br/></td></tr>
</table>
