<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo Test Cases</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:49:03</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:49:05</td>   <td>2173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_PublicUrl@6321e813]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/02/15 16:49:16</td>   <td>13792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Form101Filling_PublicUrl.formfilling101()[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_PublicUrl@6321e813]">formfilling101</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:50:26</td>   <td>83603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_PublicUrl@6321e813]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:50:28</td>   <td>85608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_CommunityUser@51cdd8a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="f19d6e">  <td>18/02/15 16:50:36</td>   <td>93509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Form101Filling_CommunityUser.formfilling101(java.lang.String)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_CommunityUser@51cdd8a]">formfilling101</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:52:08</td>   <td>185876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.smoketestcases.Form101Filling_CommunityUser@51cdd8a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:52:10</td>   <td>187677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="b09868">  <td>18/02/15 16:52:21</td>   <td>198418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102NewClaimFieldMapping.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]">doc102NewClaimFieldMapping</td> 
  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:55:28</td>   <td>385606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/15 16:55:30</td>   <td>387568</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMapping@6895a785]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860513229</td>   <td></td> </tr>
</table>
