<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Form Regression Suite</td><td>Document101WebFormVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]<br/></td></tr>
<tr><td>Regression Suite</td><td>Document101Verification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]<br/>Form101_MatchToClaimVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]<br/></td></tr>
</table>
