<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Web Form 101</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:10:24</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:10:24</td>   <td>680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>18/02/13 11:10:40</td>   <td>16288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document101Verification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:14:39</td>   <td>255101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:14:40</td>   <td>256612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="fffcd7">  <td>18/02/13 11:14:58</td>   <td>274697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document101Verification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:17:41</td>   <td>437716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101Verification@3a883ce7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:17:43</td>   <td>439041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>18/02/13 11:17:57</td>   <td>453846</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document101WebFormVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:19:55</td>   <td>571649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:19:57</td>   <td>573130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="7f99f9">  <td>18/02/13 11:20:11</td>   <td>587165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document101WebFormVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:23:00</td>   <td>756384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document101WebFormVerification@71bbf57e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:23:02</td>   <td>757988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>18/02/13 11:23:19</td>   <td>775508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Form101_MatchToClaimVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:27:53</td>   <td>1049223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:27:54</td>   <td>1050631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="729b7e">  <td>18/02/13 11:28:12</td>   <td>1068158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Form101_MatchToClaimVerification.form101Document(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">form101Document</td> 
  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:32:06</td>   <td>1301913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/02/13 11:32:07</td>   <td>1303129</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Form101_MatchToClaimVerification@10bbd20a]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1995616381</td>   <td></td> </tr>
</table>
