<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smoke Suite</td><td>LoginVerification.verifyLogin(java.lang.String)[pri:0, instance:com.mst.automation.ica.smoketestcases.LoginVerification@3a883ce7]<br/></td></tr>
</table>
