<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ec8072">  <td>18/01/29 12:47:41</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.smoketestcases.LoginVerification@3a883ce7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>18/01/29 12:47:42</td>   <td>677</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.smoketestcases.LoginVerification@3a883ce7]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366004251</td>   <td></td> </tr>
</table>
