<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:57</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@4d95d2a2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:57</td>   <td>613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestApproved@6737fd8f]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:57</td>   <td>704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimsRequestApprovedVerified@68bbe345]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:58</td>   <td>756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestMoreInformation@56aac163]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:58</td>   <td>765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestMoreInformationVerified@1f7030a6]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:58</td>   <td>780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@4d95d2a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:58</td>   <td>787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.ClaimRequestDeniedVerified@53f65459]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>18/02/21 11:44:58</td>   <td>805</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.NewClaimRequestDenied@4d95d2a2]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@245475541</td>   <td></td> </tr>
</table>
