<h2>Methods that were not run</h2><table>
<tr><td>com.mst.automation.ica.basetest.BaseTest.beforeSuite</td></tr>
<tr><td>com.mst.automation.ica.basetest.BaseTest.shutdown</td></tr>
<tr><td>com.mst.automation.ica.basetest.BaseTest.beforeSuite</td></tr>
<tr><td>com.mst.automation.ica.basetest.BaseTest.shutdown</td></tr>
<tr><td>com.mst.automation.ica.basetest.BaseTest.beforeSuite</td></tr>
<tr><td>com.mst.automation.ica.basetest.BaseTest.shutdown</td></tr>
</table>