<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>102 Flow</td><td>Document102NewClaimFieldMappingVerifyRecordOwner.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]<br/></td></tr>
<tr><td>Form Regression Suite</td><td>Document102NewClaimFieldMappingVerifyRecordOwner.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]<br/></td></tr>
</table>
