<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="686d7f">  <td>18/02/10 20:02:21</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>18/02/10 20:02:34</td>   <td>13133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Document102NewClaimFieldMappingVerifyRecordOwner.doc102NewClaimFieldMapping(java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]">doc102NewClaimFieldMapping</td> 
  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/10 20:02:23</td>   <td>1960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.setup(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/10 20:02:35</td>   <td>13305</td> <td title="&lt;&lt;BaseTest.shutdown()[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>18/02/10 20:02:34</td>   <td>13198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.mst.automation.ica.regressiontestcases.Document102NewClaimFieldMappingVerifyRecordOwner@6321e813]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1260134048</td>   <td></td> </tr>
</table>
